-- DropForeignKey
ALTER TABLE `PlaybookCompletion` DROP FOREIGN KEY `PlaybookCompletion_stepId_fkey`;

-- DropTable
DROP TABLE `Order`;

-- DropTable
DROP TABLE `DailyRevenue`;

-- DropTable
DROP TABLE `Insight`;

-- DropTable
DROP TABLE `UsageTrend`;

-- DropTable
DROP TABLE `DailyUsage`;

-- DropTable
DROP TABLE `EngagementPulse`;

-- DropTable
DROP TABLE `TopCTA`;

-- DropTable
DROP TABLE `CustomerJourney`;

-- DropTable
DROP TABLE `FeatureExperiment`;

-- DropTable
DROP TABLE `ComponentLib`;

-- DropTable
DROP TABLE `FeatureSpotlight`;

-- DropTable
DROP TABLE `TeamTestimonial`;

-- DropTable
DROP TABLE `FeatureFlag`;

-- DropTable
DROP TABLE `AlertRule`;

-- DropTable
DROP TABLE `Service`;

-- DropTable
DROP TABLE `QueueMetric`;

-- DropTable
DROP TABLE `Incident`;

-- DropTable
DROP TABLE `ActionItem`;

-- DropTable
DROP TABLE `PlaybookStep`;

-- DropTable
DROP TABLE `PlaybookCompletion`;

-- DropTable
DROP TABLE `Feedback`;

-- DropTable
DROP TABLE `PricingExperiment`;

-- DropTable
DROP TABLE `ReleaseNote`;

-- DropTable
DROP TABLE `Campaign`;

-- DropTable
DROP TABLE `TeamRitual`;

-- DropTable
DROP TABLE `CustomerSuccessMetric`;

-- DropTable
DROP TABLE `RevenueMetric`;

-- DropTable
DROP TABLE `HeatmapHotspot`;

-- DropTable
DROP TABLE `DeviceStat`;

-- DropTable
DROP TABLE `HeatmapSummary`;

